@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Thank you for visiting my ASP.Net MVC Website! Please use the tabs at the top to navigate to our products.</p>
</div>
